<div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses">
    <label class="label" data-bind="attr: { for: uid }">
        <!-- ko if: element.label -->
        <span data-bind="text: element.label"></span>
        <!-- /ko -->
    </label>
    <div class="control">
        <select class="select" data-bind="
            attr: {
                id: uid,
                name: inputName,
                disabled: disabled,
                'aria-describedby': getDescriptionId(),
                'aria-required': required,
                'aria-invalid': error() ? true : 'false',
                placeholder: placeholder
            },
            hasFocus: focused,
            optgroup: options,
            value: value,
            optionsCaption: caption,
            optionsValue: 'value',
            optionsText: 'label',
            afterRender: afterRender,
            event: { change: userChanges }
            ">
        </select>
        <div class="field-error" data-bind="visible: error() && errorMessage().length > 0">
            <span data-bind="text: errorMessage"></span>
        </div>
    </div>
</div>